@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: "Inter", sans-serif;
}

button {
  @apply cursor-pointer;
}

input,
select,
button {
  @apply focus-visible:ring-secondary focus:ring-secondary;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
