@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-info: #ffdaba;
}

@theme {
  --color-brand: #ffdaba;
  --color-dark: #101010;
  --color-text: #cccccc;
  --color-card: #202020;
  --color-border: #2f2f2f;
}

body {
  @apply bg-dark text-text;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", system-ui, sans-serif;
}

button {
  @apply cursor-pointer;
}

input,
select {
  @apply focus-visible:ring-brand focus:ring-brand bg-brand/10 ring-border placeholder:text-brand/50 overflow-hidden rounded-md;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.router-link-active {
  @apply text-brand!;
}

/* div[role="group"] {
  @apply bg-brand/20 border-brand ring-1 ring-brand;
} */
